<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>PegbTech Demo API</title>
	<meta name="description" content="A simple API Backend to retrieve contents from a MongoDB database">
	<meta name="author" content="Tome Petkovski">
</head>

<body>
<h4>This is an example API that will provide responces to the following requests:</h4>
<p>
GET /users | To retrieve users from the pegb_db database container<br>
GET /posts | To retrieve posts from the pegb_db database container<br>
<br>
POST /add      | For addition of x and y elements<br>
POST /addmany  | For addition of n number of elements (experimental)<br>
POST /subtract | For subtraction of x and y elements<br>
POST /multiply | For multiplication of x and y elements<br>
POST /divide   | For division of x and y elements<br>
</p>
<p>
<strong>Example:</strong>
<br>
$ curl -d '{ "x":5, "y":10 }' -H 'Content-Type: application/json' -X POST http://172.16.0.95:5000/add
<br>
{
  "Message": 15,
  "Status Code": 200
}
</p>
</body>

</html>
